* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #33CDFF;
	text-transform: uppercase;
}
header h1 a:hover{
	color: #F84744;
}
header h1 a{
	transition: 0.3s;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #33CDFF;
	color: #fff;
}
a {
	text-decoration: none;
}
.active{
	background-color: #33CDFF;
	color: #fff;
}
.banner{
	height: 50vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-item: center;
}
.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner h1{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
}
section{
	padding: 70px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #391F70;
	margin-bottom: 20px;
}
.about, 
.contact{
	padding-bottom: 100px;
}
.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.box{
	color: #391F70;
}
.box:after{
	display: block;
	clear: both;
}
.box .col-4{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}
footer {
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-item: center;
}
.bg-loader .loader{
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #33CDFF;
	border-right-color: #33CDFF;
	border-bottom-color: #33CDFF;
	animation: puter 0.8s linear infinite;
}
.label{
	background-color: #33CDFF;
	color: #fff;
}
@keyframes puter{
	100%{
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width: 90%;
	}
	header h1{
		text-align: center;
		float: none;
	}
	header ul{
		text-align: center;
		float: none;
	}
	.box .col-4{
		text-align: center;
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
}